.main-body{
  height: 100vh;
  background-color: #f8f8f8;
}

.font{
  font-family: 'Almarai', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.rectangle{
  height: 600px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, .25);
}

.dates-count{
  color: #555;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-style{
  background-color: #224f61;
  color: #fff;
  border-radius: 5px;
  width: 200px;
}

.img-avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}







